/** common CSS Start */
@import '../app.defines.scss';


.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    &.auto-fill {
        height: 100vh;
        min-height: 100vh;
    }
}


#not-found-container {
    &:hover {
        cursor: pointer;
        position: relative;
        &::after {
            display: none;
            content: "归去吧，归去吧……";
            position: absolute;
            text-align: center;
            color: white;
            background: #0D566E;
            font-size: 60px;
        }
    }
    background: linear-gradient(45deg, $prime-color, $secondary-color);
    width: 100vmin;
    height: 100vmin;
    border-radius: 50%;
    @media(max-width: 720px) {
        & {
            border-radius: 4px !important;
            box-shadow: 4px 2px 1em rgba(13, 86, 110, 0.4);
        }
    }

    .padding-provider {
        padding: 0 4em;
        display: flex;
        align-items: center;
    }

    p {
        @media(max-width: 720px) {
            text-indent: 1em;
        }
        font-size: 3vh;
        color: white;
        font-weight: lighter;
        font-family: '宋体', serif;
    }
    em {
        font-size: 6vh;
        color: white;
        font-style: normal;
        font-weight: bolder;
        margin-right: 8px;
    }
}

