<div>
  <form id="comment-form" [formGroup]="commentForm">
    <div id="first-line" *ngIf="commenting">
      <mat-form-field appearance="standard" color="dark">
        <mat-label>你的名字</mat-label>
        <input matInput type="text" maxlength=16 minlength=1 autocomplete="off" placeholder="小明" required
          formControlName="author" id="author-of-comment">
      </mat-form-field>
      <mat-form-field appearance="standard" color="dark">
        <input matInput type="email" autocomplete="off" placeholder="sample@host.net" formControlName="email"
          matTooltip="若是写了邮箱，便可以显示来自 Gravatar 的头像；你的邮箱不会在评论中出现。">
        <mat-label>你的邮箱</mat-label>
      </mat-form-field>
    </div>
    <div class="reply-info-container" *ngIf="commenting && (hasSomeoneToReply$ | async)">
      <input hidden formControlName="replyTo">
      <input hidden fornControlName="to">
      <span class="reply-info">
        回复给：{{ whoToReply$ | async }}
      </span>
      <span (click)="discardReply()">
        ✕
      </span>
    </div>
    <mat-form-field appearance="standard" id="comment">
      <textarea (focus)="commenting = true" matInput id="content" formControlName="content" placeholder="来写点啥吧。"
        required cdkTextareaAutosize></textarea>
      <mat-label>你的评论</mat-label>
    </mat-form-field>
    <div id="operations">
      <div class="shrine" [class.invaild]="!recaptcha.valid" *ngIf="commenting">
        <ngx-recaptcha2 [siteKey]="siteKey" [useGlobalDomain]="true" formControlName="recaptcha" id="recaptcha">
        </ngx-recaptcha2>
      </div>
      <button mat-flat-button color="primary" id="submit-comment" type="submit" (click)="toPublish()">就这样发布吧</button>
    </div>
  </form>
</div>
