@import '../app.defines.scss';

#comment-form {
    display: flex;
    flex-direction: column;

    .mat-flat-button {
        border-radius: 0;
    }

    .mat-form-field-appearance-fill .mat-form-field-flex {
        border-radius: 0;
    }

    #first-line {
        width: 100%;
        @media (min-width: 720px) {
            display: flex;
        }

        * {
            width: 100%;
        }
    }

    #operations {

        button {
            width: 100%;
            margin: 0;
        }
    }

    .shrine {
        display:flex; 
        justify-content: center; 
        width: 100%;
        padding: 8px 0;
        background-color: map-get($mat-primary, lighter);
        transition: background-color 1s ease-in-out;
        &.invaild {
            background-color: map-get($map: $mat-warn, $key: lighter)
        }
    }
}