$sans-serif: '苹方',
'微软雅黑',
'MS YaHei',
'Noto Sans',
sans-serif;
$monospace: 'Menlo',
'Ubuntu Mono',
'Consolas',
'Source Code Pro',
monospace;
$secondary-text: rgba(0, 0, 0, 0.7);
$prime-color: #0D566E;

@keyframes jumping {
  0% {}

  25% {
    transform: translateY(10%);
  }

  75% {
    transform: translateY(-10%);
  }

  100% {}
}

.d0 {
  animation-delay: 0;
}

.d1 {
  animation-delay: .33s;
}

.d2 {
  animation-delay: .67s;
}

#loading-sym {
    min-height: 16px;

  .loading-container {
    margin: 4vh 0 ;
    transition: all .3s;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    opacity: 1;
  }

  .loading-dot {
    width: 8px;
    height: 8px;
    margin: 0 8px;
    display: inline-block;
    background-color: #268785;
    animation-name: jumping;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
}
