#the-article-type {
    position: -webkit-sticky;
    position: sticky;
    top: 8px;
}

#the-article-type .hint-container {
    transition: .5s all ease-in-out;
    font-size: 32px;
    margin-bottom: 32px;
    background: rgba(238, 238, 238, .8);
    color: #00000099;
    font-weight: bolder;
    padding: 16px; 
    font-family: '苹方', 'MS YaHei', 'Noto Sans', sans-serif;
}
