#the-article-type {
    position: -webkit-sticky;
    position: sticky;
    top: 8px;
}

#the-article-type .hint-container {
    transition: .5s all ease-in-out;
    border-top: solid;
    font-size: 32px;
    margin-bottom: 32px;
    background: rgba(255,255,255,.9);
    color: #268785;
    font-weight: bolder;
    padding-left: 8px; 
    font-family: '宋体', serif;
}
