<section role="complementary" id="the-article-type">
  <em>搜索这些：</em>
  <div>

    <div class="search-term" *ngFor="let tag of tags$ | async" 
      [class.invaild-tag]="(tagNotUse$ | async)?.has(tag)" 
      [matTooltip]="((tagNotUse$ | async)?.has(tag)) ? '这个标签不存在。' : null">
      <div class="term-avatar">标</div>
      <div class="term">{{ tag }}</div>
    </div>
    <div class="search-term" *ngFor="let term of terms$ | async">
      <div class="term-avatar">名</div>
      <div class="term">{{ term }}</div>
    </div>
    <div class="search-term">
      <div class="term-avatar back" [routerLink]="['/']">✕</div>
    </div>
  </div>
</section>
<app-post-list [initialPosts]="posts$"></app-post-list>
