/** common CSS Start */
@import '../app.defines.scss';


#post-content {
    font-size: 20px;
    p, li{
        font-family: '宋体', serif;
    }

    ul {
        list-style: square;
    }

    h1 {
        font-size: 1.5em;
        font-family: '宋体', serif;
    }

    a {
        color: $prime-color;
    }

    a:visited {
        color: map-get($mat-primary, darker);
    }

    code:not(.hljs) {
        font-size: .8em;
        background: #eee;
        color: $prime-color;
        margin: 0 .2em;
        padding: .125em .1em;
    }

    code {
        font-family: $monospace;
    }

    code.hljs {
        font-size: .8em;
    }
}