/** common CSS Start */
@import '../app.defines.scss';


.post-content {
    @media(max-width: 720px) {
        font-size: 16px !important;
    }
    font-size: 20px;
    
    p, li{
        font-family: '宋体', serif;
        font-size: .9em;
    }

    ul {
        list-style: square;
    }

    h1 {
        font-size: 1.5em;
        font-family: '宋体', serif;
    }

    a {
        color: $prime-color;
    }

    a:visited {
        color: map-get($mat-primary, darker);
    }

    code:not(.hljs) {
        font-size: .8em;
        background: #eee;
        color: $prime-color;
        margin: 0 2px;
        padding: .125em .1em;
    }

    code {
        font-family: $monospace;
    }

    code.hljs {
        font-size: .8em;
    }

    blockquote {
        border-left: $secondary-color solid 2px;
        color: $secondary-color;
        font-size: .8em;
        margin: 8px 0;
        padding: 8px;
        p {
            margin: 8px 0;
        }
    }
}