@import '../app.defines.scss';
.favicon-wrapper {
    display: flex;
    flex-direction: column;
    // align-items: center;
    width: 100%;

    .version {
        font-size: .8em;
        color: map-get($map: $mat-accent, $key: lighter);
    }

    .favicon {
        align-self: center;
        margin: 8px;
    }

    a {
        color: $prime-color;
    }

    h1, h3 {
        color: $secondary-color;
    }

    h1 {
        font-family: $serif;
    }

    h3 {
        font-family: $sans-serif;
    }
}