@import '../app.defines.scss';

article.vos-article {
    margin: 0 0 64px 0;
    font-size: 32px;

    h1 {
        margin-bottom: 0;
        margin-top: .83em;
        font-family: '宋体', serif;

        a:disabled {
            color: rgba(0, 0, 0, 0.78);
        }
    
        a:hover {
            color: $secondary-color;
        }
    
        a {
            color: $prime-color;
            text-decoration: none;
            transition: all .5s;
        }
    }

    .article-info {
        color: rgba(0, 0, 0, 0.78);
        font-size: .5em;
        font-family: '苹方', 'MS YaHei', 'Noto Sans', sans-serif;
        display: flex;
        align-items: center;

        p {
            margin: 8px initial;
        }

        ul {
            padding-left: .8em;
            
            li {
                display: inline-block;
                margin-right: .8em;
                font-family: '苹方', 'MS YaHei', 'Noto Sans', sans-serif;

                a:disabled {
                    color: rgba(0, 0, 0, 0.78);
                }
            
                a:hover {
                    color: $prime-color;
                }
            
                a {
                    color: $secondary-color;
                    text-decoration: none;
                    transition: all .5s;
                }
            }

        }
    }

    &  > .article-intro > p {
        font-size: .625em;
        text-indent: 40px;
        font-family: '宋体', serif;
        margin-top: 0;
        margin-bottom: 0; 
    }
}