<article class="vos-article">
  <h1><a class="article-title" [routerLink]= "['/', 'post', post.id]">{{ post.title }}</a></h1>
  <div class="article-info">
    <p>{{ getPublishTimeago() }}</p>
    <ul class="tags">
      <li *ngFor="let tag of post.tags">
        <a [routerLink]="['/', 'search']" [queryParams]="{tag: [tag.name]}">
        {{ tag.name }}
        </a>
      </li>
    </ul>
  </div>
  <div *ngIf="post.intro" class="article-intro">
    <p *ngFor="let para of post.intro.split('\n')">
      {{ para }}
    </p>
  </div>
</article>