@import './app.material.scss';

$sans-serif: '苹方',
'微软雅黑',
'MS YaHei',
'Noto Sans',
sans-serif;
$monospace: 'Menlo',
'Ubuntu Mono',
'Consolas',
'Source Code Pro',
monospace;
$secondary-text: $dark-accent-text;
$prime-color: map-get($mat-primary, main);
$secondary-color: map-get($mat-accent, main);
$warn: map-get($mat-warn, main);
$serif: '宋体', serif;

.vos-warn {
    background: $warn !important;
    color: white !important;
    .mat-button-wrapper {
        color: white;
    }
}

.vos-desktop-only {
    @media (max-width:720px) {
        display: none;
    }
}