$sans-serif: '苹方',
'微软雅黑',
'MS YaHei',
'Noto Sans',
sans-serif;
$monospace: 'Menlo',
'Ubuntu Mono',
'Consolas',
'Source Code Pro',
monospace;
$secondary-text: rgba(0, 0, 0, 0.7);
$prime-color: #0D566E;
$secondary-color: #77969A;
$warn: #cb1b45;
$serif: '宋体', serif;

.vos-warn {
    background: $warn !important;
    color: white !important;
}