$sans-serif: '苹方',
'微软雅黑',
'MS YaHei',
'Noto Sans',
sans-serif;
$monospace: 'Menlo',
'Ubuntu Mono',
'Consolas',
'Source Code Pro',
monospace;
$mat-primary: (
  main: #0d566e,
  lighter: #b6ccd4,
  darker: #073c51,
  200: #0d566e,
);

$mat-accent: (
  main: #77969a,
  lighter: #d6e0e1,
  darker: #5a797e,
  200: #77969a,
);

$mat-warn: (
  main: #cb1b45,
  lighter: #efbbc7,
  darker: #b8102e,
  200: #cb1b45,
);
$secondary-text: rgba(0, 0, 0, .78);
$prime-color: map-get($mat-primary, main);
$secondary-color: map-get($mat-accent, main);
$warn: map-get($mat-warn, main);
$serif: '宋体', serif;


.vos-warn {
    background: $warn !important;
    color: white !important;
    .mat-button-wrapper {
        color: white;
    }

    @media (min-width:720px) {
        border-radius: 0 !important;
        box-shadow: none !important;
    }
}

.vos-desktop-only {
    @media (max-width:720px) {
        display: none;
    }
}