 <header id="article-header">
      <h1 class="article-title" #title>{{ (post$ | async).title }}</h1>
      <h2 class="article-info">{{ getPublishTimeago() | async }}</h2>
      <div *ngIf="(post$ | async).intro" class="article-intro">
        <p *ngFor="let para of (post$ | async).intro.split('\n')">
            {{ para }}
        </p>
      </div>
  </header>
  <main>
      <div class="main-content-wrapper">
          <nav class="article-nav">
              <div class="article-nav-wrapper">
                  <h2>导航</h2>
                  <ul id="nav-list">
                      <li class="nav-item" *ngFor="let title of titles" (click)="title.ele.scrollIntoView({behavior:'smooth'})">
                          {{ title.title | uppercase}}
                      </li>
                  </ul>
                  <section role="list" id="tools">
                      <div id="tool-list">
                          <!-- 这里是 label 和 button 是 css 中的遗留问题，我不想改了。 -->
                          <a routerLink="/" class="tool" role="listitem">
                              <label for="back">&lt;=&lt;</label><button id="back">返回</button>
                          </a>
                          <a (click)="goToComment()" class="tool" role="listitem">
                              <label for="cmt">&lt;*&gt;</label><button id="cmt">评论</button>
                          </a>
                          <a (click)="goToTop()" class="tool" role="listitem">
                              <label for="gotop">^^^</label><button id="gotop">回顶上</button>
                          </a>
                      </div>
                  </section>
              </div>
          </nav>
          <div id="article-container">
              <app-post-content 
                [postText]="(post$ | async).content"
                [postFormatType]="(post$ | async).contentFormatType"
                #content></app-post-content>
              <app-comment-section #comments [comments]="comments$">
              </app-comment-section>
          </div>
      </div>
  </main>