<div class="except-footer-content-wrapper">
  <header class="intrduction">
    这是<em>南方之诗</em>，<br />
    在计算机科学的天空中，<br />
    用不安、憧憬、无知编织而成的故事。
  </header>

  <div class="main-conent-wrapper">
    <nav role="list" id="tools">
      <div class="tools-wrapper">
        <section role="search listitem" id="search-bar">
          <input #SearchBar [value]="this.params$ | async" (keyup.enter)="doSearch(SearchBar.value)" [formControl]="searchTerm" class="search-bar"
            type="text" autocomplete="off" placeholder="搜索">
        </section>
        <div id="tool-list">
          <a role="listitem" class="tool">
            <label for="back">&lt;?&gt;</label><button id="back">关于</button>
          </a>
        </div>
        <app-archive-list [archives]="archives$ | async"></app-archive-list>
      </div>
    </nav>
    <div id="the-article-list">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
