/* the animation. */
/** common CSS Start */
$sans-serif: '苹方',
'微软雅黑',
'MS YaHei',
'Noto Sans',
sans-serif;
$monospace: 'Menlo',
'Ubuntu Mono',
'Consolas',
'Source Code Pro',
monospace;
$secondary-text: rgba(0, 0, 0, 0.7);
$prime-color: #0D566E;

input:focus {
    outline: none;
}

header.intrduction {
    font-family: '宋体', serif;
    font-size: 56px;
    padding: 0 32px 16px 32px;
    font-weight: normal;
    border-left-style: solid;
}

header.intrduction > em {
    font-weight: bolder;
    font-style: normal;
    color: #0D566E;
}

@keyframes flink {
    0% {color: #0D566E;}
    50% {color: #08192D;}
    100% {color: #0D566E;}
}

a:disabled {
    color: rgba(0, 0, 0, 0.78);
}

a:visited {
    color: #08192D;
}

a:hover {
    color: #08192D;
}

a {
    color: #0D566E;
    text-decoration: none;
    transition: all .5s;
}

#vos-footer {
    color: rgba(0, 0, 0, 0.78)
}

.main-conent-wrapper {
    padding: 0 8px 0 8px;
}


#tools > .tools-wrapper {
    margin-left: 8px;
    position: sticky;
    position: -webkit-sticky;
    border-top-style: solid;
    top: 8px;
    display: flex;
    flex-direction: column-reverse;
}

#archives .archive-list {
    list-style: none;
}

#archives .archive-list > li {
    font-family: sans-serif;
} 

#search-bar .search-bar {
    border: none;
    width: calc(100% - 16px);
    transition: all .3s;
    transition-timing-function: ease-in-out;
    
}


