@import '../app.defines.scss';

.comment {
    font-family: $sans-serif;
    position: relative;
    padding: 8px 0;
    margin-bottom: 8px;
    .head-wrapper {
        display: flex;
        .avatar {
            margin-right: 8px;
        }
    }

    .reply-info {
        color: $secondary-text;
    }

    .reply {
        position: absolute;
        right: 16px;
        top: 16px;
        opacity: 0;
        transition: opacity .4s;
    }

    &:hover {
        .reply {
            opacity: 1;
        }
    }

    .comment-info {
        color: $secondary-text;
        font-size: 16px;
        font-family: $sans-serif;
        ;
        margin: 4px 0 4px;
    }

    .comment-publisher {
        margin: 4px 0;
    }

    .comment-content {
        font-family: $sans-serif;
    }
}